body {
	display: grid;
	grid-template-columns: 75% 25%;
	min-height: 100vh;
	font-family: monospace;
	margin: 0;
}
.controls {
	text-align: center;
}
label {
	display: block;
}
#swatches {
	display: grid;
	grid-auto-columns: 1fr;
	background: #bbb;
}
#swatches > * {
	height: 100%;
	width: 100%;
}
