html, body {
	margin: 0;
	height: 100%;
	font-family: monospace;
}
.main {
	display: grid;
	grid-template-columns: 75% 25%;
	height: 100%
}
.controls {
	text-align: center;
}
label {
	display: block;
}
#swatches {
	display: grid;
}
#swatches > * {
	height: 100%;
	width: 100%;
}
